.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}

.note-card {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 10px 16px 0px 10px;
  border-radius: 50px;
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  cursor: text;
  box-sizing: border-box;
  overflow: visible !important;
}

.expanded {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.note-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-field {
  font-size: 16px;
  color: black !important;
}

.collapsed-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.collapsed-text {
  color: #5f6368 !important;
  font-size: 16px;
  pointer-events: none;
}

.collapsed-icons {
  display: flex;
  align-items: center;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
}

.icon-button {
  color: #5f6368 !important;
}

.close-button {
  margin-left: auto;
  color: #5f6368 !important;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.disabled {
  opacity: 0.5;
}

.notes-list {
  margin-top: 20px;
  padding: 10px;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
}

@media (min-width: 901px) {
  .notes-list {
    .my-masonry-grid {
      display: flex;
      margin-left: -20px;
      width: auto;
    }

    .my-masonry-grid_column {
      padding-left: 20px;
      background-clip: padding-box;
    }

    .my-masonry-grid_column > div {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1400px) {
  .notes-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .note-container {
    padding: 30px;
  }
}

@media (max-width: 900px) {
  .notes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .note-card {
    max-width: 500px;
    padding: 8px 12px 0px 8px;
  }

  .icon-row {
    gap: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .notes-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .note-container {
    padding: 20px;
  }

  .note-card {
    width: 360px;
    border-radius: 20px;
  }

  .text-field {
    font-size: 20px;
  }

  .collapsed-text {
    font-size: 14px;
  }

  .icon-row {
    justify-content: flex-start;
  }

  .close-button {
    font-size: 12px;
  }
}
