
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-paper {
  padding: 1.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.login-title {
  color: #f9a825;
  font-weight: bold;
}

.login-form {
  width: 100%;
  margin-top: 10px;
}

.login-input {
  margin-bottom: 10px;
}

.forgot-password {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  color: #1976d2;
  text-decoration: none;
}

.forgot-password, .create-account, .footer-links a {
  text-decoration: none;
  &:hover {
      text-decoration: none;
  }
}

.login-button {
  margin-top: 100px;
  &:hover {
      background-color: #1565c0;
  }
}

.login-actions {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-top: 20px;
  margin-bottom: 30px ;
}

.create-account {
  text-align: left;
  display: block;
  margin-top: 10px;
  color: #1976d2;
  text-decoration: none;
}

.footer-container {
  margin-top: 0.4em;
  display: flex;
  justify-content: space-between;  /* Spreads items apart */
  align-items: center;
  width: 100%; 
  padding: 10px 20px;
}

.footer-links {
  display: flex;
  gap: 15px; /* Spacing between links */
}

/* Responsive Styles for Tablets */
@media screen  and (min-width:480px) and (max-width:768px) {
    .login-paper {
      width: 80%;
      // max-width: 350px;
    }
    .login-actions {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-container {
        flex-direction: column;
        gap: 10px;
    }
}


/* Responsive Styles for Mobile  */
@media (max-width: 480px) {
  .login-paper {
    margin-top: 3%;
      width: 80%;
      padding: 1.5em;
  }

  .login-title {
      font-size: 1.2em;
  }

  .login-actions {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
  }

  .footer-container {
      flex-direction: column;
      text-align: center;
      // padding: 10px;
  }

  .footer-links {
      flex-direction: column;
      // gap: 8px;
  }
}